.is-coolblue{
    background-color:#339AF0!important;
    color:white!important;
}

.item-img{
    object-fit: cover; 
    object-position: center; 
    height: 250px;
    width: 200px;
}

.item-img-smal{
    object-fit: cover;
    object-position: center;
    height: 150px;
    width: 100px;
}


